<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Your ToDo | <%= date %> | <%= type %></title>
</head>
<body>
    <div class="main-container">
        <div class="date-div">
            <span><%= date %> - <%= type %> ToDo's</span>
        </div>
        <div class="todo-div">
        <% if(todoList.length){ %>
            <ul class="todo-list">
                <hr>
                <% todoList.forEach((todo, idx) => { %>
                    <li id=<%= `todoItem${idx}` %>>
                        <form class="todo-items" action="<%= `${type.toLowerCase()}/delete` %>" method="post">
                            <input type="checkbox" class="todo-check" name="deleteId" id="<%= `check${idx}` %>" value="<%= todo._id %>" onChange="this.form.submit()">
                            <span id=<%= `todoTask${idx}` %>><%= todo.task %></span>
                        </form>
                    </li>
                    <hr>
                <% }) %>
            </ul>
        <% } else { %>
            <div class="todo-empty-div">
                <h3>No tasks added yet.</h3>
                <small>Go ahead and add your first task!</small>
            </div>
        <% } %>
        </div>
        <div class="add-div">
            <form class="add-form" method="post" action="<%= `${type.toLowerCase()}/add` %>">
                <input type="text" name="task" id="task" placeholder="Add new ToDo" autocomplete="off" autocapitalize="on">
                <button type="submit"><ion-icon name="add"></ion-icon></button>
            </form>
        </div>
        <div class="bg-circle"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="/scripts/script.js"></script>
</body>
</html>